## Sprint Test Report

What is this document?
- A document summarizing the testing activities conducted during a specific iteration in an Agile project, often called a sprint.

When do you prepare it for an Agile project?
- It is prepared after the completion of the Agile Sprint.

What is the purpose of this document?
- It is to provide visibility into the testing process for stakeholders, communicate testing results and identify any roadblocks, and serve as a historical record for future reference.